:root {
  line-height: 1.5;
}

html {
  font-family: sans-serif;
}

body {
  background-color: rgb(17, 17, 17);
  color: antiquewhite;
  height: 60%;
  margin-top: 50px;
}

h1,
h2,
h3,
h4,
h5,
figure,
p,
ol,
ul {
  margin: 0;
  text-align: center;
}

.gameboards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  place-self: center;
  place-items: center;
  gap: 150px;
  max-width: fit-content;
  margin: 0 auto;
}

.primary-board {
  display: grid;
  grid-template-rows: repeat(10, 30px);
  grid-template-columns: repeat(10, 30px);
  gap: 1px;
  background-color: black;
  border: 1px solid black;
  width: fit-content;
  margin: 0;
}

.secondary-board {
  display: grid;
  grid-template-rows: repeat(10, 30px);
  grid-template-columns: repeat(10, 30px);
  gap: 1px;
  background-color: black;
  border: 1px solid black;
  width: fit-content;
  margin: 0;
}

.primarySquare,
.secondarySquare {
  height: 30px;
  width: 30px;
  border: none;
  background-color: rgb(84, 94, 237);
}

.ship {
  background-color: grey;
}

.hit {
  background-color: red;
}

.miss {
  background-color: antiquewhite;
}

.shipStartH {
  border-top: 1px solid;
  border-left: 1px solid;
  border-bottom: 1px solid;
}

.shipStartV {
  border-top: 1px solid;
  border-left: 1px solid;
  border-right: 1px solid;
}

.shipMidH {
  border-top: 1px solid;
  border-bottom: 1px solid;
}

.shipMidV {
  border-left: 1px solid;
  border-right: 1px solid;
}

.shipEndH {
  border-top: 1px solid;
  border-right: 1px solid;
  border-bottom: 1px solid;
}

.shipEndV {
  border-left: 1px solid;
  border-right: 1px solid;
  border-bottom: 1px solid;
}
